:root {
    --bgc: rgba(21,26,34,0.95);
}

@font-face {
    font-family: "RoundedMgenPlus2ppMedium";
    src: url('../fonts/rounded-mgenplus-2pp-medium-custom.ttf');
}

body {
    background-image: url('../wallpapers/orion.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100%;
}

.wrong-size {
    display: flex;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    white-space: pre-line;
    transition: visibility 0s, opacity 0.2s linear;
}

.top-bar {
    width: 99vw;
    height: 3vh;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    background: var(--bgc);
    margin-inline: auto;
    left: 0;
    right: 0;
    top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
}

.clock {
    color: white;
    font-family: "RoundedMgenPlus2ppMedium";
    display: table;
    margin: 0 auto;
    width: max-content;
    font-size: 2vh;
}

.bottom-bar {
    height: 4.2vh;
    background: var(--bgc);
    width: min-content;
    margin-inline: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 95.4vh;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    /*
    info
    github
    music
    minecraft
    wallpapers
    */
    & > div {
        width: 3vw;
        height: 4vh;
        display: flex;
        align-content: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
        & > img {
            width: 1.7vw;
            left: 0.5vw;
            right: 0.5vw;
        }
    }
    & > div:hover {
        background-color: #5b5c5f;
        border-radius: 10px;
    }
}


.widget {
    display: inline;
    width: 60vw;
    height: 75vh;
    position: absolute;
    margin-inline: auto;
    padding: 15px;
    top: 9.5vh;
    left: 0;
    right: 0;
    color: white;
    background: var(--bgc);
    border-radius: 30px;
    border: 2px solid red;
}

.name {
    font-family: Helvetica;
    font-size: 3vi;
}

.elevated {
    width: 10vi;
    padding-left: 0.1vi;
}

.desc {
    font-family: Roboto;
    font-size: 1.2vi;
}

.grid-container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'header logo'
    'footer footer';
    column-gap: 1vw;
    row-gap: 2vh;
    & > div {
        height: 100%;
    }
}
.logo-cont {
    justify-content: center;
    align-content: center;
    display: inline-block;
    position: relative;
}

.logo {
    max-width: 85%;
    max-height: 85%;
}
.header {
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 20px;
    padding-left: 2vh;
    padding-right: 2vh;
    word-wrap: break-word;
    max-height: min-content;

}
.footer {
    grid-column: span 2;
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 22px;
    padding-left: 2vh;
    padding-right: 2vh;
    word-wrap: break-word;
    max-height: min-content;
}
