:root {
    --bgc: rgba(21,26,34,0.95);
}

@font-face {
    font-family: "RoundedMgenPlus2ppMedium";
    src: url('../fonts/rounded-mgenplus-2pp-medium-custom.ttf');
}

@font-face {
    font-family: "NotoSans";
    src: url("../fonts/NotoSans-VariableFont.ttf");
}

body {
    background-image: url('../wallpapers/orion.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
}

.wrong-size {
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    white-space: pre-line;
    transition: visibility 0s, opacity 0.2s linear;
}

.top-bar {
    width: 99vw;
    height: 3vh;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    background: var(--bgc);
    margin-inline: auto;
    left: 0;
    right: 0;
    top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    z-index: -1;
    & > span.clock {
        color: white;
        font-family: "RoundedMgenPlus2ppMedium";
        display: table;
        margin: 0 auto;
        width: max-content;
        font-size: 2vh;
        cursor: default;
    }
}

.bottom-bar {
    height: 4.2%;
    background: var(--bgc);
    width: min-content;
    margin-inline: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 95.4%;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    z-index: -1;
    & > div {
        width: 3vw;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.3s;
        & > input {
            width: 3vw;
            height: 4vh;
            left: 0.5vw;
            right: 0.5vw;
            opacity: 0;
            cursor: pointer;
        }
    }
    & > div.appman-info {
        background: url("../icons/userinfo.svg") no-repeat;
        background-size: 1.7vw;
        left: 0.5vw;
        right: 0.5vw;
        display: block;
        background-position: center;
    }
    & > div.appman-git {
        background: url("../icons/github.svg") no-repeat;
        background-size: 1.7vw;
        left: 0.5vw;
        right: 0.5vw;
        display: block;
        background-position: center;
    }
    & > div.appman-art {
        background: url("../icons/gnome-paint.svg") no-repeat;
        background-size: 1.7vw;
        left: 0.5vw;
        right: 0.5vw;
        display: block;
        background-position: center;
    }
    & > div.appman-vape {
        background: url("../icons/vaprio.svg") no-repeat;
        background-size: 1.7vw;
        left: 0.5vw;
        right: 0.5vw;
        display: block;
        background-position: center;
    }
    & > div.appman-music {
        background: url("../icons/playmymusic.svg") no-repeat;
        background-size: 1.7vw;
        left: 0.5vw;
        right: 0.5vw;
        display: block;
        background-position: center;
    }
    & > div.appman-mine {
        background: url("../icons/minecraft.svg") no-repeat;
        background-size: 1.7vw;
        left: 0.5vw;
        right: 0.5vw;
        display: block;
        background-position: center;
    }
    & > div.appman-wall {
        background: url("../icons/accessories-image-viewer.svg") no-repeat;
        background-size: 1.7vw;
        left: 0.5vw;
        right: 0.5vw;
        display: block;
        background-position: center;
    }
    & > div:hover {
        background-color: rgba(91, 92, 95, 1);
        border-radius: 10px;
    }
}

div.widget {
    display: inline;
    width: 60vw;
    height: 76vh;
    position: absolute;
    margin-inline: auto;
    padding: 1%;
    top: calc((100vh - 80vh) / 2);
    left: 0;
    right: 0;
    color: white;
    background: var(--bgc);
    border-radius: 30px;
    border: 2px solid red;
    cursor: default;
    z-index: 10;
    & > div.grid-container {
        width: 100%;
        height: 100%;
        max-height: 100%;
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        'header logo'
        'footer footer';
        column-gap: 20px;
        row-gap: 20px;
        & > div.header {
            display: flexbox;
            background-color: rgba(255, 255, 255, 0.01);
            height: 25vh;
            max-height: 25vh;
            border-radius: 20px;
            padding-top: 2%;
            padding-left: 2%;
            padding-right: 2%;
            word-wrap: break-word;
            line-break: anywhere;
            overflow: hidden;
            overflow-y: auto;
            & > div.title {
                display: grid;
                grid-template-columns: 1fr min-content min-content;
                color: white;
                align-content: center;
                & > div.name {
                    background: url("../logo/name.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 80%;
                    width: calc((55vw - 25vh) / 2);
                    height: 10vh;
                }
                & > div.vr {
                    width: 0.3vw;
                    height: 10vh;
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 20px;
                    
                }
                & > div.alt-name {
                    background: url("../logo/elevated.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 80%;
                    width: calc((55vw - 25vh) / 2);
                    height: 10vh;
                }
            }
            & > p.desc {
                font-family: Roboto;
                font-size: 1.2vw;
                margin: 1vh;
                margin-bottom: 2vh;
            }
        }
        & > div.logo-cont {
            display: inline-block;
            position: relative;   
            background: url("../logo/logo.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            height: 25vh;
            width: 25vh;
            padding: 2%;
        }
        & > div.footer {
            grid-column: span 2;
            background-color: rgba(255, 255, 255, 0.01);
            height: 100%;
            max-height: 100%;
            border-radius: 22px;
            padding-left: 2vh;
            padding-right: 2vh;
            word-wrap: break-word;
            line-break: anywhere;
            overflow: hidden;
            overflow-y: auto;
            font-family: sans-serif;
            font-size: 1vw;
        }
    }
}

.window {
    display: block;
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100vw;
    height: 92.8vh;
}

.win-info {
    display: none;
    position: relative;
    border: 2px solid red;
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--bgc);
    top: 1.5%;
    left: 0.5%;
    width: 99%;
    height: 97.5%;
    & > div.title-bar {
        width: 100%;
        height: 2vh;
        background-color: rgb(0, 0, 0);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        cursor: default;
        & > div.span {
            color: white;
            display: block;
            position: absolute;
            text-align: center;
            width: 100%;
            height: 80%;
            font-size: 1.4vh;
            font-family: "NotoSans";
            top: 50%;
            transform: translateY(-62.5%);
        }
        & > div.img {
            width: 1.5%;
            height: 2.6%;
            display: block;
            position: absolute;
            background: url("../icons/userinfo.svg") no-repeat;
            background-size: 1.4vh;
            background-position: center;
        }
        & > div.radio {
            display: grid;
            position: absolute;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            left: calc(99vw - 8vh);
            top: 0.3vh;
            height: 2.6%;
            width: fit-content;
            & > div {
                margin-right: 1vh;
            }
            & > div.min {
                background: url("../icons/minimize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max {
                background: url("../icons/maximize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit {
                background: url("../icons/close.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.min:hover {
                background: url("../icons/minimize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max:hover {
                background: url("../icons/maximize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit:hover {
                background: url("../icons/close-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
        }
    }
}

.win-git {
    display: none;
    position: relative;
    border: 2px solid red;
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--bgc);
    top: 1.5%;
    left: 0.5%;
    width: 99%;
    height: 97.5%;
    & > div.title-bar {
        width: 100%;
        height: 2vh;
        background-color: rgb(0, 0, 0);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        cursor: default;
        & > div.span {
            color: white;
            display: block;
            position: absolute;
            text-align: center;
            width: 100%;
            height: 80%;
            font-size: 1.4vh;
            font-family: "NotoSans";
            top: 50%;
            transform: translateY(-62.5%);
        }
        & > div.img {
            width: 1.5%;
            height: 2.6%;
            display: block;
            position: absolute;
            background: url("../icons/github.svg") no-repeat;
            background-size: 1.4vh;
            background-position: center;
        }
        & > div.radio {
            display: grid;
            position: absolute;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            left: calc(99vw - 8vh);
            top: 0.3vh;
            height: 2.6%;
            width: fit-content;
            & > div {
                margin-right: 1vh;
            }
            & > div.min {
                background: url("../icons/minimize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max {
                background: url("../icons/maximize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit {
                background: url("../icons/close.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.min:hover {
                background: url("../icons/minimize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max:hover {
                background: url("../icons/maximize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit:hover {
                background: url("../icons/close-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
        }
    }
}

.win-art {
    display: none;
    position: relative;
    border: 2px solid red;
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--bgc);
    top: 1.5%;
    left: 0.5%;
    width: 99%;
    height: 97.5%;
    & > div.title-bar {
        width: 100%;
        height: 2vh;
        background-color: rgb(0, 0, 0);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        cursor: default;
        & > div.span {
            color: white;
            display: block;
            position: absolute;
            text-align: center;
            width: 100%;
            height: 80%;
            font-size: 1.4vh;
            font-family: "NotoSans";
            top: 50%;
            transform: translateY(-62.5%);
        }
        & > div.img {
            width: 1.5%;
            height: 2.6%;
            display: block;
            position: absolute;
            background: url("../icons/gnome-paint.svg") no-repeat;
            background-size: 1.4vh;
            background-position: center;
        }
        & > div.radio {
            display: grid;
            position: absolute;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            left: calc(99vw - 8vh);
            top: 0.3vh;
            height: 2.6%;
            width: fit-content;
            & > div {
                margin-right: 1vh;
            }
            & > div.min {
                background: url("../icons/minimize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max {
                background: url("../icons/maximize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit {
                background: url("../icons/close.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.min:hover {
                background: url("../icons/minimize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max:hover {
                background: url("../icons/maximize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit:hover {
                background: url("../icons/close-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
        }
    }
}

.win-vape {
    display: none;
    position: relative;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--bgc);
    top: 1.5%;
    left: 0.5%;
    width: 99%;
    height: 97.5%;
    & > div.title-bar {
        width: 100%;
        height: 2vh;
        background-color: rgb(0, 0, 0);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        cursor: default;
        & > div.span {
            color: white;
            display: block;
            position: absolute;
            text-align: center;
            width: 100%;
            height: 80%;
            font-size: 1.4vh;
            font-family: "NotoSans";
            top: 50%;
            transform: translateY(-62.5%);
        }
        & > div.img {
            width: 1.5%;
            height: 2.6%;
            display: block;
            position: absolute;
            background: url("../icons/vaprio.svg") no-repeat;
            background-size: 1.4vh;
            background-position: center;
        }
        & > div.radio {
            display: grid;
            position: absolute;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            left: calc(99vw - 8vh);
            top: 0.3vh;
            height: 2.6%;
            width: fit-content;
            & > div {
                margin-right: 1vh;
            }
            & > div.min {
                background: url("../icons/minimize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max {
                background: url("../icons/maximize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit {
                background: url("../icons/close.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.min:hover {
                background: url("../icons/minimize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max:hover {
                background: url("../icons/maximize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit:hover {
                background: url("../icons/close-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
        }
    }
    & > div.url-bar {
        width: 100%;
        height: 4vh;
        background-color: black;
        align-content: center;
        font-family: "NotoSans";
        display: grid;
        grid-template-columns: min-content min-content auto;
        z-index: 10;
        & > div.reload {
            width: 3vh;
            height: 3vh;
            margin-top: 0.5vh;
            margin-left: 1vh;
            margin-right: 0.5vh;
            background: url("../icons/view-refresh-symbolic.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1.6vh;
            background-color: black;
            border-radius: 3px;
            cursor: pointer;
        }
        & > div.reload:hover {
            background-color: rgb(35, 35, 35);
        }
        & > div.ssl {
            width: 3vh;
            height: 3vh;
            margin-top: 0.5vh;
            margin-left: 0.5vh;
            margin-right: 0.5vh;
            background: url("../icons/ssl-lock-symbolic.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1.6vh;
            background-color: black;
            border-radius: 3px;
            cursor: help;
        }
        & > div.ssl:hover {
            background-color: rgb(35, 35, 35);
        }
        & > div.url {
            align-content: center;
            height: 4vh;
            border: 0.25vh solid black;
            background-color: rgb(25, 25, 25);
            border-radius: 10px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: max-content;
            padding-left: 1vh;
            padding-right: 1.5vh;
            font-size: 1.6vh;
            & > span.hidden {
                color: grey;
                margin: 0;
            }
            & > span.visible {
                color: white;
                margin: 0;
            }
        }
    }
}

.vapesite {
    width: 100%;
    height: 90vh;
    display: block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 10;
}

.win-music {
    display: none;
    position: relative;
    border: 2px solid red;
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--bgc);
    top: 1.5%;
    left: 0.5%;
    width: 99%;
    height: 97.5%;
    & > div.title-bar {
        width: 100%;
        height: 2vh;
        background-color: rgb(0, 0, 0);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        cursor: default;
        & > div.span {
            color: white;
            display: block;
            position: absolute;
            text-align: center;
            width: 100%;
            height: 80%;
            font-size: 1.4vh;
            font-family: "NotoSans";
            top: 50%;
            transform: translateY(-62.5%);
        }
        & > div.img {
            width: 1.5%;
            height: 2.6%;
            display: block;
            position: absolute;
            background: url("../icons/playmymusic.svg") no-repeat;
            background-size: 1.4vh;
            background-position: center;
        }
        & > div.radio {
            display: grid;
            position: absolute;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            left: calc(99vw - 8vh);
            top: 0.3vh;
            height: 2.6%;
            width: fit-content;
            & > div {
                margin-right: 1vh;
            }
            & > div.min {
                background: url("../icons/minimize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max {
                background: url("../icons/maximize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit {
                background: url("../icons/close.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.min:hover {
                background: url("../icons/minimize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max:hover {
                background: url("../icons/maximize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit:hover {
                background: url("../icons/close-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
        }
    }
}

.win-mine {
    display: none;
    position: relative;
    border: 2px solid red;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--bgc);
    top: 1.5%;
    left: 0.5%;
    width: 99%;
    height: 97.5%;
    & > div.title-bar {
        width: 100%;
        height: 2vh;
        background-color: rgb(0, 0, 0);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        cursor: default;
        & > div.span {
            color: white;
            display: block;
            position: absolute;
            text-align: center;
            width: 100%;
            height: 80%;
            font-size: 1.4vh;
            font-family: "NotoSans";
            top: 50%;
            transform: translateY(-62.5%);
        }
        & > div.img {
            width: 1.5%;
            height: 2.6%;
            display: block;
            position: absolute;
            background: url("../icons/minecraft.svg") no-repeat;
            background-size: 1.4vh;
            background-position: center;
        }
        & > div.radio {
            display: grid;
            position: absolute;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            left: calc(99vw - 8vh);
            top: 0.3vh;
            height: 2.6%;
            width: fit-content;
            & > div {
                margin-right: 1vh;
            }
            & > div.min {
                background: url("../icons/minimize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max {
                background: url("../icons/maximize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit {
                background: url("../icons/close.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.min:hover {
                background: url("../icons/minimize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max:hover {
                background: url("../icons/maximize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit:hover {
                background: url("../icons/close-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
        }
    }
}

.minesite {
    width: 100%;
    height: 88vh;
    display: block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 10;
}

.win-wall {
    display: none;
    position: relative;
    border: 2px solid red;
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--bgc);
    top: 1.5%;
    left: 0.5%;
    width: 99%;
    height: 97.5%;
    & > div.title-bar {
        width: 100%;
        height: 2vh;
        background-color: rgb(0, 0, 0);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        cursor: default;
        & > div.span {
            color: white;
            display: block;
            position: absolute;
            text-align: center;
            width: 100%;
            height: 80%;
            font-size: 1.4vh;
            font-family: "NotoSans";
            top: 50%;
            transform: translateY(-62.5%);
        }
        & > div.img {
            width: 1.5%;
            height: 2.6%;
            display: block;
            position: absolute;
            background: url("../icons/accessories-image-viewer.svg") no-repeat;
            background-size: 1.4vh;
            background-position: center;
        }
        & > div.radio {
            display: grid;
            position: absolute;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            left: calc(99vw - 8vh);
            top: 0.3vh;
            height: 2.6%;
            width: fit-content;
            & > div {
                margin-right: 1vh;
            }
            & > div.min {
                background: url("../icons/minimize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max {
                background: url("../icons/maximize.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit {
                background: url("../icons/close.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.min:hover {
                background: url("../icons/minimize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.max:hover {
                background: url("../icons/maximize-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
            & > div.exit:hover {
                background: url("../icons/close-hover.svg") no-repeat;
                background-size: 1.4vh;
                background-position: center;
                width: 1.4vh;
                height: 1.4vh;
            }
        }
    }
}