@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "Rounded Mgen";
	src: url("../fonts/Rounded-X-Mgen+Modern_Cohesive_Medium.ttf");
}

html, body {
	height: 100%;
	width: 100%;
	background-color: #292929;
	overflow: hidden;
}

div.title-card {
	overflow: hidden;
	position: absolute;
	background-color: black;
	top: 0%;
	left: 0;
	width: 100%;
	max-height: 10rem;
	z-index: 100;
	align-self: auto;
}
img.home {
	margin-left: 0.8rem;
	width: 4rem;
	padding: 0.1rem;
	border-radius: 50%;
	cursor: pointer;
	vertical-align: middle;
}

.title-grid {
	display: grid;
	grid-auto-flow: column;
	color: white;
	font-size: 1.8em;
	align-items: center;
	font-family: "Rounded Mgen";
	float: left;
	vertical-align: middle;
}

.title-padding {
	grid-gap: 5px;
	background-color: #1B1B1B;
	width: 0.5rem;
	height: 4rem;
	border-radius: 100rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.title-site {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	color: darkgray;
	text-decoration: none;
	background-color: black;
	padding: 1rem;
	border-radius: 0.5rem
}

.title-site:hover {
	background: #250000;
	color: white;
	cursor: pointer;
}

div.text-body {
	position: absolute;
	overflow: scroll;
	overflow-x: hidden;
	background-color: #464646;
	width: 95%;
	left: 2.5%;
	top: 5.5rem;
	bottom: 1rem;
	margin: auto;
	height: calc(100% - 10.5rem);
	margin-top: 1%;
	margin-bottom: 1%;
	font-family: "Rounded Mgen";
	color: #CCCCCC;
	box-sizing: border-box;
	padding-left: 2%;
	padding-right: 2%;
}

div.footer {
	position: absolute;
	vertical-align: bottom;
	height: 3rem;
	min-height: 3rem;
	top: 100%;
	transform: translateY(-100%);
	left: 0;
	width: 100%;
	background-color: black;
	text-align: center
}