<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<div class="title-card">
	<div class="title-grid">
		<a href="index"><img class="home" src="https://avatars.githubusercontent.com/u/75545733?v=4" alt="Home"></a>
		<div class="title-padding"></div>
		<a class="title-site" id="repo" title="Repositories" href="repositories">Repositories</a>
		<div class="title-padding"></div>
		<a class="title-site" id="music" title="Music" href="music">Music</a>
	</div>
</div>
{{ content }}
<body>
</body>
</html>
